<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="vendor/autoload.php" failOnRisky="true" failOnWarning="true">
  <coverage>
    <include>
      <directory>./</directory>
    </include>
    <exclude>
      <directory>./Resources</directory>
      <directory>./Tests</directory>
      <directory>./vendor</directory>
      <directory>./.history</directory>
      <file>./.php-cs-fixer.dist.php</file>
      <file>./bootstrap.php</file>
      <file>./rector.php</file>
    </exclude>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
    </report>
  </coverage>
  <php>
    <ini name="error_reporting" value="-1"/>
  </php>
  <logging/>
  <testsuites>
    <testsuite name="Spl Types Test Suite">
      <directory>./Tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
